BOT_TOKEN=your-telegram-bot-token
CHAT_ID_1=your-telegram-chat-id
API_TOKEN=your-static-api-token
PORT=4000

LIARA_ENDPOINT=https://files.epfund.org
LIARA_BUCKET_NAME=epfund-private
LIARA_PUBLIC_BUCKET_NAME=epfund-public
LIARA_ACCESS_KEY=admin
LIARA_SECRET_KEY=UWHJWVBhdbw2uh2uiri32hbri239899r23rJ3fiu2b4iuf24iefnji2f2j
